/* ==UserStyle==
@name           Youtube Watch Page Fix
@namespace      youtube.com
@version        1.3
@description    Removes the recent changes to YouTube's watch page
@author         lightbeam
==/UserStyle== */

@-moz-document domain("youtube.com") {
/* Temporary fixes. THESE WILL NOT WORK THE NEXT TIME YOUTUBE UPDATES ITS CODE. */
ytd-watch-metadata { 
  display: none !important;
}
#meta-contents[hidden], #info-contents[hidden] { 
  display: block !important;
}


/* Permanent fixes */
/* Removes second comment section, */
#comment-teaser.ytd-watch-metadata {
display: none;
}
/* Removes border around creator's name and sub button. NOTE: This part doesn't work as of 1.1, but keeping it for now just in case. */
#owner.ytd-watch-metadata {
border: none; 
}
/* Removes border around creator's name and sub button. */
ytd-watch-metadata:not([modern-metapanel]) #owner.ytd-watch-metadata {
border: none;
}
/* Reverts the video title font. */
ytd-watch-metadata[smaller-yt-sans-light-title] h1.ytd-watch-metadata {
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  font-size: 18px;
}
ytd-video-primary-info-renderer[use-yt-sans20-light] .title.ytd-video-primary-info-renderer {
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  font-size: 18px;
}
/* Removes the bold letters on upload date and view count. */
.yt-formatted-string[style-target="bold"] {
  font-weight: 400;
}
}
